.navbar{
    display: inline-block;
    font-family: 'Anton', sans-serif;
}

h3{
    margin-right: 7em;
    text-decoration: none;
}

.navbarlink{
    text-decoration: none;
    color: black;
}

.navbarlink:hover{
    color:#F58023;
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: center;
}